
## ---- ports ----
configure port 1/1/c1/1
    no shutdown
exit
configure port 1/1/c2/1
    no shutdown
exit

## ---- base: interfaces + SRGB + IS-IS/SR ----
configure router
    interface "system"
        address 100.0.1.1/32
    exit
    interface "to-PE1"
        address 172.16.1.2/30
        port 1/1/c1/1
    exit
    interface "to-PE2"
        address 172.16.2.1/30
        port 1/1/c2/1
    exit
    mpls-labels
        sr-labels start 21000 end 30000
    exit
    isis 0
        level-capability level-2
        area-id 49.0001
        system-id 1000.0000.1001
        advertise-router-capability area
        segment-routing
            prefix-sid-range global
            no shutdown
        exit
        interface "system"
            passive
            ipv4-node-sid index 100
            no shutdown
        exit
        interface "to-PE1"
            interface-type point-to-point
            no shutdown
        exit
        interface "to-PE2"
            interface-type point-to-point
            no shutdown
        exit
        no shutdown
    exit
exit
