
## ---- ports ----
configure port 1/1/c1/1
    no shutdown
exit
configure port 1/1/c6/1
    ethernet
        mode access
        encap-type null
    exit
    no shutdown
exit

## ---- base: interfaces + SRGB + LDP + IS-IS/SR ----
configure router
    interface "system"
        address 10.1.1.1/32
    exit
    interface "to-P1"
        address 172.16.1.1/30
        port 1/1/c1/1
    exit
    mpls-labels
        sr-labels start 21000 end 30000
        reserved-label-block "Anysec"
            start-label 32000
            end-label 35999
        exit
    exit
    ldp
        no shutdown
    exit
    isis 0
        level-capability level-2
        area-id 49.0001
        system-id 0100.0100.1001
        advertise-router-capability area
        segment-routing
            prefix-sid-range global
            no shutdown
        exit
        interface "system"
            passive
            ipv4-node-sid index 1
            no shutdown
        exit
        interface "to-P1"
            interface-type point-to-point
            no shutdown
        exit
        no shutdown
    exit
exit

## ---- ANYsec: 1) MACsec CA (crypto material / MKA) ----
configure macsec
    connectivity-association "CA_ANYSEC" create
        anysec
        cipher-suite gcm-aes-xpn-128
        static-cak
            pre-shared-key 1 encryption-type aes-128-cmac create
                cak "0123456789ABCDEF0123456789ABCDEF"
                ckn "0011"
            exit
            mka-hello-interval 5
        exit
        no shutdown
    exit
exit

## ---- ANYsec: 2) MKA-over-IP + STP + encryption-group ----
configure anysec
    reserved-label-block "Anysec"
    mka-over-ip
        mka-udp-port 10000
    exit
    security-termination-policies
        policy "STP_ANYSEC" create
            local-address 10.1.1.1
            protocol sr-isis
            igp-instance-id 0
            no rx-must-be-encrypted
            no shutdown
        exit
    exit
    tunnel-encryption
        encryption-group "EG_ANYSEC" create
            ca-name "CA_ANYSEC"
            encryption-label 32101
            security-termination-policy "STP_ANYSEC"
            peer-tunnel-attributes
                protocol sr-isis
                igp-instance-id 0
            exit
            peer 10.1.1.2 create
                no shutdown
            exit
            no shutdown
        exit
    exit
exit

## ---- service: SR-ISIS SDP + Epipe toward Customer1 ----
configure service
    sdp 12 mpls create
        far-end 10.1.1.2
        sr-isis
        no shutdown
    exit
    epipe 1001 customer 1 create
        service-name "anysec-vll-1001"
        sap 1/1/c6/1 create
        exit
        spoke-sdp 12:1001 create
            no shutdown
        exit
        no shutdown
    exit
exit
